<div class="page-sidebar menu-compact" id="sidebar">
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" id="searchinput" readonly="readonly"/>
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">
            搜索数据
        </div>
    </div>
    <ul class="nav sidebar-menu">
        <li class="active">
            <a href="${context}/frame.html">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text"> 首页 </span>
            </a>
        </li>

        <li>
            <a href="${context}/user/manager.html">
                <i class="menu-icon glyphicon glyphicon-user"></i>
                <span class="menu-text"> 管理员入口 </span>
            </a>
        </li>
    </ul>
</div>