<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="off" monitorInterval="1800">
    <Properties>
        <property name="LOG_HOME">/opt/log</property>
        <property name="APPLICATION_NAME">bookmanager</property>
    </Properties>

    <Appenders>
        <!--这个输出控制台的配置-->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} %L %M - %msg%xEx%n"/>
        </Console>

        <!-- 设置日志格式并配置日志压缩格式 -->
        <RollingRandomAccessFile name="service_appender"
                                 immediateFlush="false" fileName="${LOG_HOME}/${APPLICATION_NAME}.log"
                                 filePattern="${LOG_HOME}/${APPLICATION_NAME}.%d{yyyy-MM-dd}.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} %L %M - %msg%xEx%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingRandomAccessFile>

        <Async name="ASYNC">
            <AppenderRef ref="service_appender"/>
        </Async>
    </Appenders>

    <Loggers>
        <!-- 第三方日志系统 -->
        <logger name="org.springframework" level="ERROR"/>

        <!-- 配置日志的根节点 -->
        <root level="info">
            <appender-ref ref="Console"/>
            <appender-ref ref="ASYNC"/>
        </root>
    </Loggers>

</Configuration>